.vote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vote h4, h5 {
    text-emphasis: none;
    font-weight: 400;
    font-family: sans-serif;
    font-stretch: normal;
}

.vote h5 {
    font-size: 1.5rem;
    padding: 0.25rem;
}

.vote h5 {
    line-height: 2rem;
    font-size: 1rem;
}