.commentsPanel {
    width: 0; 
    height: 0;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    padding: 0.75rem;
}

.open {
    width: 100%;
    height: 100%;
    min-width: 290px;
}

@media (orientation: portrait) {
    .open {
        min-height: 50vh;
    }
}
